<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Skincare Product</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        
        <nav>
            <a href="/">Home</a>
            <a href="/skincare-products">Skincare Products</a>
        </nav>

        <section>

            <h1>Edit ✨ {{skincareProduct.productBrand}} {{skincareProduct.productName}} ✨</h1>

            <form method="POST">

                <div>
                    <label>Brand</label>
                    <input type="text" name="productBrand" value="{{skincareProduct.productBrand}}" />
                </div>

                <div>
                    <label>Product Name</label>
                    <input type="text" name="productName" value="{{skincareProduct.productName}}" />
                </div>
                
                <div>
                    <label>Product Image</label>
                    <input type="text" name="productImage" id="productImage" value="{{skincareProduct.productImage}}" />
                    <span id="previewPicBtn">Preview</span>
                    <div id="previewPic"></div>
                </div>

                <div>
                    <label>Product</label>
                    <select name="productType">
                        {{!-- <option value="Select product type" disabled>Select product type</option> --}}
                        <option value="Sample">Sample</option>
                        <option value="Mini-sized">Mini-sized</option>
                        <option value="Full-sized">Full-sized</option>
                    </select>
                    <input type="text" name="productSize" value="{{skincareProduct.productSize}}"/>
                </div>
                
                <div>
                    <label>Product Description</label>
                    <br>
                    <textarea name="productDescription">{{skincareProduct.productDescription}}</textarea>
                </div>

                <div>
                    <label>Skin Type:</label>
                    <div>
                        <input type="radio" id="Dry" name="skinType" value="Dry">
                        <label for="Dry">Dry</label>
                    </div>
                    <div>
                        <input type="radio" id="Combination" name="skinType" value="Combination">
                        <label for="Combination">Combination</label>
                    </div>
                    <div>
                        <input type="radio" id="Oily" name="skinType" value="Oily">
                        <label for="Oily">Oily</label>
                    </div>
                </div>


                <div>
                    <input type="submit" value="Edit">
                </div>

            </form>

        </section>
    </div>       

    <script>
        const previewPicBtn = document.getElementById("previewPicBtn");
        const productImg = document.getElementById("productImage");
        const productImgPreview = document.getElementById("previewPic")

        previewPicBtn.addEventListener("click", function(){
            let productImgLink = productImg.value;
            console.log(productImgLink);
            previewPic.innerHTML = `<img src="${productImgLink}">`;
            {{!-- previewPicBtn.style.color = "pink" --}}
        })
    </script> 

</body>
</html>