<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Skincare Products</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        
        <nav>
            <a href="/">Home</a>
            <a href="/skincare-products">Skincare Products</a>
        </nav>

        <section>
            <h1>View All Skincare Products</h1>

            <button><a href="/skincare-products/add">Add new product</a></button>

            <ol>

                {{#each skincareProducts}}
                    <a href="/skincare-products/{{this._id}}">
                        <li>
                            <b>{{this.productBrand}}</b> {{this.productName}}
                        </li>
                    </a>
                {{/each}}

                {{!-- {{#each skincareProducts}}
                    <li>
                        <b>{{this.productBrand}}</b> {{this.productName}}
                        <button><a href="/skincare-products/{{this._id}}/edit">Edit</a></button>
                        <button><a href="/skincare-products/{{this._id}}/delete" style="color:red">Delete</a></button>
                        </li>
                {{/each}} --}}
            
            </ol>
        </section>

    </div>    
</body>
</html>